:root {
	--basik-red: #FB565A;
	--light-red: #E74246;
	--dark-red: #D7373B;
	--basik-green: #00CA74;
	--light-green: #00BC6C;
	--dark-green: #00AA62;
	--basik-yellow: #EFC849;
	--light-yellow: #EAB534;
	--dark-yellow: #E5A722;
  --basik-white: #FFFFFF;
  --footer-gray: #E1E1E1;
	--light-gray: #EEEEEE;
	--basik-gray: #DFDFDF;
	--dark-gray: #283136;
	--basik-black: #000000;
	--shadow-text: rgba(0, 1, 1, 0.1);
	--shadow-black: rgba(0, 0, 0, 0.3);
	--shadow-white: rgba(255, 255, 255, 0.3);
	--catalog-gray: #666666;
	--catalog-light-gray: #DBDBDB;
}

.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
.page-body {
	font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	color: var(--dark-gray);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


/* Навигация */
.header-navigation-wrapper{
  display: flex;
}
.header-logo{
  margin-right: 202px;
}
.main-header {
	background-color: var(--light-gray);
  color: var(--basik-black);
  padding-top: 50px;
}
.header-container{
display: flex;
}
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 30px;
}

.main-navigation a {
	color: var(--basik-black);
}

.main-navigation a:hover {
	color: var(--basik-red);
}

.main-navigation a:active {
	color: var(--shadow-black);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 437px;
  height: 30px;
}
.user-navigation{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding: 0;
  position: relative;
}
.user-navigation::before{
  content: url(../img/cart-icon.svg);
  width: 15px;
  height: 15px;
  left: -40px;
  top: 0;
  position: absolute;
}
.site-navigation li:active{
  border-bottom: 2px solid var(--basik-red);
}


/* Слайдер */

.slider {
  background-color: var(--light-gray);
}
.slider .container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button {
	background-color: var(--basik-red);
	color: var(--basik-white);
	width: 160px;
	height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-slider{
  width: 240px;
	height: 50px;
}
.button-slider:hover {
	background-color: var(--light-red);
}

.button-slider:active {
	background-color: var(--dark-red);
	color: var(--shadow-white)
}
.button-control-list{
  position: absolute;
  height: 18px;
  left: 560px;
  top: 502px;
}
.button-control {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: var(--basik-white);
  border: 0px;
  margin-right: 8px;
}

.slide-1 {
  background-image: url(../img/nerds-index-slide1_1.png);
  background-repeat: no-repeat;
  background-position: 90%;
}

.slider-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 75px 0 0 0;
  height: 431px;
}
.slider-item{
  width: 100%;
  height: 431px;
}
.slider-item-text-title{
  width: 538px;
}
.slider-item-text{
  width: 400px;
}
.slider-item p{
  margin: 0 0 25px 0;
}
.slider-item p:nth-child(1) {
	font-size: 55px;
	line-height: 55px;
	color: var(--basik-black);
	font-weight: 500;
}
.slider-item{
  display: none;
}
.slider-item.active{
  display: block;
}
/* Секция услуг */

.service-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  margin: 80px 0 80px 0;
  padding: 0;
}
.service-item{
  width: 300px;
}
.service-item div {
	background-color: var(--dark-gray);
	width: 300px;
	height: 146px;
}

.service-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--basik-black)
}

.service-item p {
  color: var(--dark-gray);
  max-width: 260px;
}

.red {
	background-color: var(--basik-red);
	color: var(--basik-white);
	border-radius: 3px;
}

.red:hover {
	background-color: var(--light-red);
}

.red:active {
	background-color: var(--dark-red);
	color: var(--shadow-white);
}

.green {
	background-color: var(--basik-green);
	color: var(--basik-white);
	border-radius: 3px;
}

.green:hover {
	background-color: var(--light-green);
}

.green:active {
	background-color: var(--dark-green);
	color: var(--shadow-white);
}

.yellow {
	background-color: var(--basik-yellow);
	color: var(--basik-white);
	border-radius: 3px;
}

.yellow:hover {
	background-color: var(--light-yellow);
}

.yellow:active {
	background-color: var(--dark-yellow);
	color: var(--shadow-white);
}


/* Блок Наша студия в Краснодаре */

.about-container{
  border-top: 2px solid var(--light-gray);
  padding: 39px 0 75px 0;
}
.about .container{
  display: flex;
  justify-content: space-between;
}
.about-skill-title{
  font-weight: bold;
}
.about-text{
  display: flex;
  flex-direction: column;
  width: 651px;
}
.about-text h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basik-black);
}

.about-text p:nth-child(3) {
	font-weight: bold;
	text-transform: uppercase;
}

.about-text-list {
  list-style: none;
  padding: 0;
}

.about-text-list li {
  position: relative;
  padding-left: 32px;
}

.about-text-list li::before {
	content: " ";
	position: absolute;
	width: 25px;
	height: 2px;
  top: 10px;
  left: 0px;
	background-color: var(--basik-red);
}
.about-skill{
  display: flex;
  flex-direction: column;
  width: 360px;
}
.about-skill p:nth-child() {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--basik-black);
}
.about-skill-list{
  display: flex;
  padding: 0;
}
.about-skill-item {
  list-style: none;
  width: 120px;
}
.about-skill-item p{
  margin: 0;
  padding: 0;
}
.about-skill-item{
  position: relative;
}
.about-skill-item::after{
  content: " ";
  position: absolute;
  background: url(../img/%.svg);
  height: 40px;
  width: 20px;
  background-repeat: no-repeat;
  top: 15px;
  right: 25px;
}

.about-skill-item p:nth-child(1) {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
	color: var(--basik-black);
}


/* Блок Наши работы */

.examples-container{
  display: flex;
  align-items: center;
	border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
  height: 180px;
}
.examples-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.examples-item{
  width: 298px;
  display: flex;
  justify-content: center;
}
.examples-item a{
  opacity: .2;
}
.examples-item a:hover{
opacity: 1;
}
.examples-item a:active{
  opacity: .1;
  }


/* Блок с каротой */
.container-contacts {
  display: flex;
  align-items: center;
  background: url(../img/map-1.jpg);
  height: 416px;
  background-repeat: no-repeat;
  margin-top: 80px;
  padding-bottom: 70px;
}
.contacts-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--basik-white);
  height: 319px;
  width: 308px;
}
.contacts-info p:first-child{
  font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}
.button-contacts{
  height: 50px;
  width: 219px;
}

/* Футер */
.page-footer-container{
  display: flex;
  padding-bottom: 70px;
}
.footer-text p:nth-child(2) {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
  color: var(--basik-black);
  margin: 0;
}
.social-list{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 120px 0 0;
}
.social-list li{
  margin-right: 9px;
}
.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-gray);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
.social-button:hover{
  background-color: var(--light-red);
}
.social-button:active{
  background-color: var(--dark-red);
}
.social-button svg:active{
  opacity: .3;
}

/* Заголовок каталога  */

.catalog-page-title {
	background-color: var(--light-gray);
}

.catalog-page-title h1 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
  color: var(--basik-black);
  text-align: center;
}


/* Сортировка каталога*/

.catalog-filter p {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basik-black);
}

.catalog-filter-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.catalog-filter-item button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--shadow-black);
	border: none;
	outline: none;
	background-color: var(--basik-white);
}

.catalog-filter-item button:active {
	color: var(--basik-black);
}


/* Карточки каталога  */

.catalog-products-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 80px;
	grid-column-gap: 40px;
}

.catalog-products-item {
	border-radius: 0px 0px 3px 3px;
  background-color: var(--light-gray);
  position: relative;
  width: 358px;
}
.catalog-products-item::before{
  content: url(../img/catalog_1.svg);
  position: absolute;
  top: -40px;
}
.catalog-products-item:hover::before{
  content: url(../img/catalog_2.svg);
  position: absolute;
  top: -40px;
}
.catalog-products-item img {
	border-radius: 0px 0px 3px 3px;
}

.catalog-products-item_mask {
	background-color: var(--light-gray);
}

.catalog-products-item_mask:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.catalog-products-item_mask a:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basik-black);
}

.catalog-products-item_mask a:first-child:hover {
	color: var(--basik-red);
}

.catalog-products-item_mask a:first-child:active {
	color: var(--shadow-black);
}

.catalog-products-item_mask p {
	font-size: 16px;
	line-height: 18px;
	color: var(--catalog-gray);
}

/* Пагинация каталога */

.catalog-pagination {
  display: flex;
  justify-content: flex-start;
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}
.catalog-pagination-item{
  margin-right: 11px;
}
.catalog-pagination-item a {
	background: var(--light-gray);
	border-radius: 3px;
	color: var(--basik-black);
}

.catalog-pagination-item a:active {
	border: 3px solid var(--catalog-light-gray);
	border-radius: 3px;
}
